html {
    background-color: rgb(232, 236, 255);
}

header {
    height: 70px;
    width: 100%;
    background-color: rgb(232, 236, 255); 
}

#gridContainer {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px grey;
}

.demo-container {
    background-color: rgb(232, 236, 255);
}

.master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.link {
    margin-left: 20%;
    font-size: 16px;
}

.link:link, .link:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(159, 178, 207);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 10px 10px 5px grey;
}

.link:hover, .link:active {
  background-color: rgb(51, 102, 212);
  color: white;
  box-shadow: 10px 10px 5px grey;
}

.button {
    background-color: rgb(232, 236, 255); 
    text-align: center;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 230px;
    font-size: 16px;
    border: 2px solid rgb(159, 178, 207);
    box-shadow: 10px 10px 5px grey;
    background-color: rgb(224, 253, 228);
}
